* {
    -fx-glowny: #2c2c2c;
    -fx-drugi: #00B1C7;
    -fx-drugi-najechanie: #004359;
    -fx-glownytekst: #BABABA;
    -fx-tekstniebieski: #00E5FB;
    -fx-blad: #ba0e1b;
    -fx-blad-dwa: #ba1300;

}


.root {
    -fx-background-color: -fx-glowny;
}

.chat-background {
    -fx-background-color: #3c3c3c;
}

.jfx-button {
    -fx-background-color: linear-gradient(#ff3b4c, #ff7b1f),
    radial-gradient(center 50% -40%, radius 200%, #ee8400 45%, #c85800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-text-fill: #000000;
}

.jfx-button:hover {
    -fx-background-color: linear-gradient(#9e2b33, #9c4e1a),
    radial-gradient(center 50% -40%, radius 200%, #a35400 45%, #824100 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-text-fill: #000000;
}

.gracz_aktywny {
    -fx-text-fill: -fx-glownytekst;
    -jfx-focus-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 40%, #8eff48, #3c3c3c);;
    -jfx-unfocus-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 40%, #8eff48, #3c3c3c);
}

.gracz_aktywny2 {
    -fx-text-fill: -fx-glownytekst;
    -jfx-focus-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 40%, #0efffc, #3c3c3c);;
    -jfx-unfocus-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 40%, #00fffa, #3c3c3c);
}

.wiadomosc {
    -fx-text-fill: -fx-glownytekst;
    -jfx-focus-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 40%, #ff7b1f, #3c3c3c);;
    -jfx-unfocus-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 40%, #ff7b1f, #3c3c3c);
}

.text-fill {
     -fx-text-fill: #ff3b4c;
     -fx-fill: #ff3b4c;
 }

.myDialog{
    -fx-background-color: #2c2c2c;
    -fx-text-fill:#FF7B1F ;
    -fx-fill: #FF7B1F;
}
.myDialog > *.button-bar > *.container{
    -fx-background-color: #2c2c2c;
    -fx-text-fill:#FF7B1F ;
    -fx-fill: #FF7B1F;
}
.myDialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill:#FF7B1F ;
    -fx-fill: #FF7B1F;
}
.myDialog:header *.header-panel{
    -fx-background-color: #2c2c2c;
    -fx-text-fill:#FF7B1F ;
    -fx-fill: #FF7B1F;
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-text-fill:#FF7B1F ;
    -fx-fill: #FF7B1F;
}